__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
logs/

/datasets/
/checkpoints/
/saved_models/         # si guardas pesos aquí

# Permite outputs/ pero ignora grandes dentro
# (adaptado a tu proyecto)
outputs/*.h5
outputs/*.hdf5
outputs/*.npz
outputs/*.npy
outputs/*.ckpt
outputs/*.pt
outputs/*.pth
outputs/*.zip
outputs/*.tar
outputs/*.tar.gz

# archivos de sistema
*.log
.DS_Store
Thumbs.db

