__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
env/
.ipynb_checkpoints/
.vscode/
logs/

# Ignorar SOLO en la raíz (con / inicial)
#/models/         ← NO usar si tu código está en hsi_lab/models (se ignoraría solo la raíz)
#/data/           ← idem
/outputs/         # puedes dejarlo ignorado si no quieres subir resultados
/datasets/
/checkpoints/
/saved_models/
*.h5
*.hdf5
*.ckpt
*.npz
*.npy
*.log
.DS_Store
Thumbs.db

